html, body {
  height: 100%;
}
img {
position:relative;
}
#nav-bar,
#footer {
  background-color: black;
}
a {
  color: white;
}

a:hover {
  color: red;
}
#footer-text {
  text-align: "center" 
}
#work-space-img{
  background-image: url(img/work-space.jpg);
}