body,
html {
  width: 100%;
  height: 100%;
  background: url(img/bg.jpg) no-repeat center center fixed; 
  font-family: 'Gentium Book Basic', serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row {
  margin:auto;
}

header { border: 3px solid rgb(167, 25, 68);
  background-color: rgb(225, 154, 175, 0.6);
  margin-bottom: 1rem;
}

#first-section {
  font-size: 5rem;
  color: rgb(118, 25, 53);
}

#second-section {
  font-size: 2.3rem;
  color: rgb(118, 25, 53); 
  margin-top: -20px;
}

.btn {
  font-weight: 700px;
  border-radius: 600px;
  border-width: 9px;
  text-transform: uppercase;
}

.btn-primary {
  background-color:rgb(154, 57, 86);
  border-color:  rgb(154, 57, 86);
}

.btn-primary:hover {
  background-color: rgb(167, 25, 68);
  border-color:  rgb(167, 25, 68);
  border-width:11px;
}

.btn-xl {
  padding: 2rem, 3rem;
}

/* #nav-bar,
#footer {
  background-color: rgba(167, 105, 53);
}
a, p {
  color: rgb(0, 0, 0);
}
a:hover {
  list-style: none;
  color:rgb(223, 19, 19);
} */
/* Image properties and style. */
/* .text-box {
  padding-left: 50%;
  padding-top: 12%;
  color: white;
}
.typing > *{
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 4s steps(50);
} */
/* 
@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

.text-footer {
  padding-left: 40% 
}

.container {
  padding:20px;
  width: 600px;
  height: 400px;
  background-color: rgba(209, 181, 139, 0.884);
  margin-top: 10%;
  margin-right: 20%;
}
#img-about {
  float: left;
  margin: 20px;
}
#git, #linkedin {
  margin-top: 30%;
}
.card {
  margin-left: 15%
} */