html, body {
  height: 100%;
}

#nav-bar,
#footer {
  background-color: rgba(209, 181, 139, 0.884);
}
a, p {
  color: rgb(0, 0, 0);
}
a:hover {
  list-style: none;
  color:rgb(223, 19, 19);
}
/* Image properties and style. */
.bg {
  background-image: url(img/work-space.jpg);
  height: 100%;
  /* Center and Scale the Image nicely*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-box {
  padding-left: 50%;
  padding-top: 12%;
  color: white;
}
.typing > *{
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 4s steps(50);
}

@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

.text-footer {
  padding-left: 40% 
}

.container {
  padding:20px;
  width: 600px;
  height: 400px;
  background-color: rgba(209, 181, 139, 0.884);
  margin-top: 10%;
  margin-right: 20%;
}
#img-about {
  float: left;
  margin: 20px;
}